# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
logs/

# Build files
build/
dist/
*.egg-info/

# Python packaging
.eggs/
zodot_folder/
